@media (min-width: 1200px) {
    .background-image {
        background-image: url('../images/netflix-background.jpg');
        width: 100%;
        height: 750px;
        background-size: 106.5%;
        background-position-x: 51%;
        background-position-y: 30%;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .background-overlay {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 750px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0px 60px 60px -15px black, inset 0px -80px 100px -15px black;
    }

}

@media (min-width: 960px) and (max-width: 1199px) {
    .background-image {
        background-image: url('../images/netflix-background.jpg');
        width: 100%;
        height: 750px;
        background-size: 106.5%;
        background-position-x: 51%;
        background-position-y: 30%;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .background-overlay {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 750px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0px 60px 60px -15px black, inset 0px -80px 100px -15px black;
    }

}

@media (min-width: 600px) and (max-width: 959px) {
    .background-image {
        background-image: url('../images/netflix-background.jpg');
        width: 100%;
        height: 600px;
        background-size: 106.5%;
        background-position-x: 51%;
        background-position-y: 30%;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .background-overlay {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 600px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0px 60px 60px -15px black, inset 0px -80px 100px -15px black;
    }

}

@media (max-width: 599px) {
    .background-image {
        background-image: url('../images/netflix-background.jpg');
        width: 100%;
        height: 600px;
        background-size: 106.5%;
        background-position-x: 51%;
        background-position-y: 30%;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .background-overlay {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 600px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0px 60px 60px -15px black, inset 0px -80px 100px -15px black;
    }

}

.background {
    position: relative;
    top: -90px;
}